<h1>ログイン</h1>

<%= form_with(url: login_path, scope: :session) do |f| %>

  <table border="0">
    <tr>
      <th><%= f.label :email, "Email" %></th>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password, "Password" %></th>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>    

  <%= f.submit "ログイン" %>
<% end %>

<%= link_to "一覧に戻る", root_path %>