<% if tasks.any? %>
  <% tasks.each do |task| %>
    <table border="0">
    <tr>
      <td><%= task.user.name %> ｜ <%= task.created_at %></td>
    </tr>
    <tr>
      <td><h3><%= task.id %>：<%= task.status %>｜<%= task.content %></h3></td>
    </tr>
    <% if current_user == task.user %>
    <tr>
      <td><%= link_to "編集する", edit_task_path(task) %> ｜ <%= link_to "削除する", task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %></td>      
    </tr>
    <% end %>
    <tr><td><br></td></tr>
    </table>
  <% end %>
<% end %>
