<% if tasks.any? %>
  <% tasks.each do |task| %>
    <% if current_user == task.user %>
    <table border="0">
    <tr>
      <td><%= task.user.name %> ｜ <%= task.created_at %></td>
    </tr>
    <tr>
      <td><h3><%= link_to task.id, edit_task_path(task) %>：<%= task.status %>｜<%= task.content %></h3></td>
    </tr>
    </table>
    <% end %>
  <% end %>
<% end %>
