<h1>Task-id: <%= @task.id %>　詳細ページ</h1>

<h3>ステータス：<%= @task.status %></h3>
<h3>タスク：<%= @task.content %></h3>

<%= link_to "一覧に戻る", root_path %> ｜ 
<%= link_to "編集する", edit_task_path(@task) %> ｜ 
<%= link_to "削除する", @task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
