<h1>Toppages#index</h1>

<% if logged_in? %>
  <!-- ログインしてたら -->
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @task) do |f| %>
        <div class="mb-3">
          <%= f.text_field :status, class: 'form-control', rows: 5 %>
          <%= f.text_field :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary w-100' %>
      <% end %>

    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>  
  
<% else %>
  <!-- ログインしてなかったら -->
  <h1>Kadai-Tasklist</h1>
  <!-- 新規登録 -->
  <%= link_to "新規登録", signup_path %>
<% end %>
